#title {
    margin-top: 20vh;
}

@media screen and (min-width: 600px) {
    #title {
        margin-left: 16vw;
        height: 3em;
    }
}

.about {
    padding-left: 14vw;
    box-sizing: border-box;
    width: 100vw;
    min-height: 70vh;
}

.about p {
    max-width: 100%;
    font-size: 1.7rem;
}

.about :first-child {
    font-weight: bold;
}



