.swiper-container {
  max-width: 85vw;
  width: 600px;
}

.swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #fff;

  /* Center slide text vertically
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;*/
}

.swiper-slide img {
    max-width: 100%;
    max-height: 100%;
    object-fit: cover;
}

div.swiper-button-prev,
div.swiper-button-next {
  color: rgba(122, 122, 122, .7);
}

:root {
  --swiper-navigation-size: 22px !important;
}
