.popup-img {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(122, 122, 122, .7);

    display: flex;
    align-items: center;
    justify-content: center;

    z-index: 2000;
}

.popup-img img {
    max-width: 100%;
    max-height: 100%;
    object-fit: cover;
}