@media screen and (min-width: 500px) {
    .top-page-visual {
        margin-bottom: 30vh;
    }
}

.top-page-visual > a {
    display: flex;
    align-items: center;
    justify-content: center;
    max-width: 100%;
    max-height: 100%;
    width: 100vw;
    height: 88vh;

    /*-/background-color: lightgrey;*/
}

.top-page-visual a img {
    max-width: 100%;
    max-height: 100%;
    object-fit: cover;
}

